@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:wght@400;500&display=swap');

$font-family-body: 'Roboto', sans-serif;
$font-family-title: 'Alfa Slab One', cursive;

body {
  font-family: $font-family-body;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-title;
}
